<div class="navigation">
  <ul>
    <li class="list">
      <b></b>
      <b></b>
      <a href="#">
        <span class="icon"><i class="fa-solid fa-house-chimney"></i></span>
        <span class="title">Home</span>
      </a>
    </li>
    <li class="list ">
      <a routerLink="/result">
        <b></b>
        <b></b>
        <span class="icon"><i class="fa-solid fa-square-poll-vertical"></i></span>
        <span class="title">Results</span>
      </a>
    </li>
    <li class="list active">
      <a routerLink="/sopro">
        <b></b>
        <b></b>
        <span class="icon"><i class="fa-solid fa-list-check"></i></span>
        <span class="title">Progress</span>
      </a>
    </li>
    <li class="list">
      <a routerLink="/profile">
        <b></b>
        <b></b>
        <span class="icon"><i class="fa-solid fa-user"></i></span>
        <span class="title">Profile</span>
      </a>
    </li>
    <li class="list ">
      <a  routerLink="/login">
        <b></b>
        <b></b>
        <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
        <span class="title">Logout</span>
      </a>
    </li>

  </ul>
</div>
<h1 class="Heading2">Progress</h1>
<div class="ocards">
  <div class="ocard-individual">
    <div class="o-icon">
      <i class="o-icon1 fa fa-users box-icon"></i>
    </div>
    <div class="o-rank">
      <h1 class="o-rank-h1">5</h1>
    </div>
    <div class="o-place">
      <p class="o-place-p1">Department Rank</p>
    </div>
  </div>
  <div class="ocard-individual">
    <div class="o-icon">
      <i class="o-icon1 fa-solid fa-building-columns"></i>
    </div>
    <div class="o-rank">
      <h1 class="o-rank-h1">10</h1>
    </div>
    <div class="o-place">
      <p class="o-place-p2">College Rank</p>
    </div>
  </div>
  <div class="ocard-individual">
    <div class="o-icon">
      <i class="o-icon1 fa-solid fa-user-graduate"></i>
    </div>
    <div class="o-rank">
      <h1 class="o-rank-h1">35</h1>
    </div>
    <div class="o-place">
      <p class="o-place-p3">University Rank</p>
    </div>
  </div>
</div>


<div class="skill-bars chart1">
  <div class="bar">
    <div class="info">
      <span>Semester 1</span>
    </div>
    <div class="progress-line Semester1">
      <span></span>
    </div>
  </div>

  <div class="bar">
    <div class="info">
      <span>Semester 2</span>
    </div>
    <div class="progress-line Semester2">
      <span></span>
    </div>
  </div>

  <div class="bar">
    <div class="info">
      <span>Semester 3</span>
    </div>
    <div class="progress-line Semester3">
      <span></span>
    </div>
  </div>

  <div class="bar">
    <div class="info">
      <span>Semester 4</span>
    </div>
    <div class="progress-line Semester4">
      <span></span>
    </div>
  </div>
</div>

<div class="skill-bars chart2">
  <div class="bar">
    <div class="info">
      <span>Semester 5</span>
    </div>
    <div class="progress-line Semester5">
      <span></span>
    </div>
  </div>

  <div class="bar">
    <div class="info">
      <span>Semester 6</span>
    </div>
    <div class="progress-line Semester6">
      <span></span>
    </div>
  </div>

  <div class="bar">
    <div class="info">
      <span>Semester 7</span>
    </div>
    <div class="progress-line Semester7">
      <span></span>
    </div>
  </div>

  <div class="bar">
    <div class="info">
      <span>Semester 8</span>
    </div>
    <div class="progress-line Semester8">
      <span></span>
    </div>
  </div>
</div>


<div class="toggle">
  <i class=" open fa fa-solid fa-bars"></i>
  <i class="close fa-solid fa-xmark"></i>
</div>
