.navigation {
  width: 1900px;
  height: 70px;
  background: #02ccc0;
  position: absolute;
  display: flex;
  border-radius: 10px;
  top:0px;
  left:-10px;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 170px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .i {
  position: relative;
  display: block;
  line-height: 35px;
  top: 18px;
  font-size: 1.5em;
  transition: 0.5s;
  color: black;
}
a{
  text-decoration: none;
}
.navigation ul li.active a .i {
  transform: translateY(48px);
}
.navigation ul li a .text {
  position: relative;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
}
.text{
  color: black;
  font-weight: 60px;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(-15px);
}
.indicator {
  position: absolute;
  top: 50px;
  width: 70px;
  height: 70px;
  left: 95px;
  background: #02ccc0;
  border-radius: 50%;
  border: 6px solid #d0ebee;
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 #d0ebee;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 #d0ebee;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(113px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(111px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(120px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(121px * 4));
}
#d1{
  left: 70px;
}
#d2{
  left: 100px;
}
#d3{
  left: 130px;
}
#d4{
  left: 180px;
}
#d5{
  left: 230px;
}

h1
{
  font-family: "Rubik", sans-serif;
  font-size: 54px;
  font-weight: 500;
  color: #333133;
  width: 695px;
  height: 200px;
  position: relative;

  top: 120px;
  letter-spacing: -0.5px;
  line-height: 1.15;
}

.p1
{
  font-family: 'Noto Sans', sans-serif;
  color: #545154;
  font-size: 20px;
  position: relative;
  top: 120px;
  width: 570px;
  height: 100px;
  line-height: 30px;
}

.hero
{
  width: 620px;
  height: 550px;
  position: relative;
  left: 680px;
  bottom: 270px;
}

.Main-Section{
  position: relative;
  top:40px;
 left: 200px;
  width: 2000px;
}

.b3 {
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #545154;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  background: #f7f7f7;
  border: 0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  right:550px;
  bottom: 150px;
  width: 350px;
}

.b3:hover {
  background: #e1f8f8;
  border: solid #f7f7f7 4px;
  text-decoration: none;
}

.customer-img
{
  width: 90px;
  border-radius:50px;
  border: solid #e1f8f8 4px;
  position: relative;
  bottom: 450px;
  left:80px;
  margin-left: -20px;
}

h3{
  position: relative;
  bottom:460px;
}

.view-port
{
  background-color: #e1f8f8;
  margin: 0;
  border: 0;
  box-sizing: content-box;
  padding: 0;
  height: 800px;

}

.H11{
  position: relative;
  bottom: 170px;
  left: 200px;
  font-size: 40px;
}

.footer{
  width: 1900px;
  height: 90px;
  background: #02ccc0;
  position: absolute;
  display: flex;
  border-radius: 10px;
  top:670px;
  left:-10px;
}

h5{
  font-size: 17px;
  position: relative;
  font-weight: bold;
  left: 100px;
  top: 30px;
  height: 30px;
}
.logo{
  position: relative;
  left:1000px;
  top:25px;
}
.logo-img{
  position: relative;
  left:1030px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 position: relative;
 right: 200px;
 bottom: 150px;
}

.card {
  background: white;
  width: 220px;
  height: 300px;
  margin: 60px;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  color: #1e6d76;
  /* box-shadow: 5px 5px 5px 5px gray; */
  -webkit-box-shadow: 11px 10px 19px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 10px 19px -10px rgba(0,0,0,0.75);
box-shadow: 11px 10px 19px -10px rgba(0,0,0,0.75);
}

.card-image {
  background-color: white;
  height: 150px;
  margin-bottom: 60px;
  border-radius: 15px;
}

img {
  border-radius: 15px 15px 0 0;
}
.card:hover {
  background-color: #e1f8f8;
  color: black;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

.H22{
  font-size: 20px;
  font-weight: bold;
}

.h2c{
  width: 70%;
  position: relative;
  left: 30px;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  position: relative;
  top:4px;
  left:170px;
}

.wrapper .icon {
  position: relative;
  background: #02ccc0;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #02ccc0;
  color: #02ccc0;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: black;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #d0ebee;
  color: #037c74;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #d0ebee;
  color: #037c74;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #d0ebee;
  color: #037c74;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #d0ebee;
  color: #037c74;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #d0ebee;
  color: #037c74;
}

a {
  color: black;
}
