<div class="frame">
  <h1 class="Heading1">Welcome James!</h1>
  <div class="navigation">
    <ul>
      <li class="list">
        <b></b>
        <b></b>
        <a routerLink="">
          <span class="icon"><i class="fa-solid fa-house-chimney"></i></span>
          <span class="title">Home</span>
        </a>
      </li>
      <li class="list active ">
        <a routerLink="/result">
          <b></b>
          <b></b>
          <span class="icon"><i class="fa-solid fa-square-poll-vertical"></i></span>
          <span class="title">Results</span>
        </a>
      </li>
      <li class="list">
        <a routerLink="/sopro">
          <b></b>
          <b></b>
          <span class="icon"><i class="fa-solid fa-list-check"></i></span>
          <span class="title">Progress</span>
        </a>
      </li>
      <li class="list">
        <a routerLink="/profile">
          <b></b>
          <b></b>
          <span class="icon"><i class="fa-solid fa-user"></i></span>
          <span class="title">Profile</span>
        </a>
      </li>
      <li class="list ">
        <a (click)="logout()">
          <b></b>
          <b></b>
          <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
          <span class="title">Logout</span>
        </a>
      </li>

    </ul>
  </div>

    <div class="Profile">
      <img class="pro" [src]=pic7 alt="">
    </div>

    <div class=" card card1">
      <div class="imgBx">
        <img [src]=pic1 alt="">
      </div>
      <div class="content">
        <div class="details">
          <h2>Algebra & Number Theory<br><span>Credit:4</span></h2>
          <div class="data">
            <h3>IAT-1<br><span>100</span></h3>
            <h3>IAT-2<br><span>100</span></h3>
            <h3>IAT-3<br><span>100</span></h3>
          </div>
          <div class="actionBtn">
            <a routerLink="/progress"><button>Know More</button></a>
          </div>
        </div>
      </div>
    </div>

    <div class="card card2">
      <div class="imgBx">
        <img [src]=pic2 alt="">
      </div>
      <div class="content">
        <div class="details">
          <h2>Microprocessor & Microcontroller<br><span>Credit:3</span></h2>
          <div class="data">
            <h3>IAT-1<br><span>100</span></h3>
            <h3>IAT-2<br><span>100</span></h3>
            <h3>IAT-3<br><span>100</span></h3>
          </div>
          <div class="actionBtn">
            <a routerLink="/progress"><button>Know More</button></a>
          </div>
        </div>
      </div>
    </div>

    <div class="card card3">
      <div class="imgBx">
        <img [src]=pic3 alt="">
      </div>
      <div class="content">
        <div class="details">
          <h2>Computer Networks<br><span>Credit:3</span></h2>
          <div class="data">
            <h3>IAT-1<br><span>100</span></h3>
            <h3>IAT-2<br><span>100</span></h3>
            <h3>IAT-3<br><span>100</span></h3>
          </div>
          <div class="actionBtn">
            <a routerLink="/progress"><button>Know More</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="card card4">
      <div class="imgBx">
        <img [src]=pic4 alt="">
      </div>
      <div class="content">
        <div class="details">
          <h2>Theory of Computation<br><span>Credit:3</span></h2>
          <div class="data">
            <h3>IAT-1<br><span>100</span></h3>
            <h3>IAT-2<br><span>100</span></h3>
            <h3>IAT-3<br><span>100</span></h3>
          </div>
          <div class="actionBtn">
            <a routerLink="/progress"><button>Know More</button></a>
          </div>
        </div>
      </div>
    </div>

    <div class="card card5">
      <div class="imgBx">
        <img [src]=pic5 alt="">
      </div>
      <div class="content">
        <div class="details">
          <h2>Object Oriented Analysis & Design<br><span>Credit:3</span></h2>
          <div class="data">
            <h3>IAT-1<br><span>100</span></h3>
            <h3>IAT-2<br><span>100</span></h3>
            <h3>IAT-3<br><span>100</span></h3>
          </div>
          <div class="actionBtn">
            <a routerLink="/progress"><button>Know More</button></a>
          </div>
        </div>
      </div>
    </div>

    <div class="card card6">
      <div class="imgBx">
        <img [src]=pic6 alt="">
      </div>
      <div class="content">
        <div class="details">
          <h2>Geographic Information System<br><span>Credit:3</span></h2>
          <div class="data">
            <h3>IAT-1<br><span>100</span></h3>
            <h3>IAT-2<br><span>100</span></h3>
            <h3>IAT-3<br><span>100</span></h3>
          </div>
          <div class="actionBtn">
            <a routerLink="/progress"><button>Know More</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="toggle">
    <i class=" open fa fa-solid fa-bars"></i>
    <i class="close fa-solid fa-xmark"></i>
  </div>


