<div class="viewport">
  <div class="navigation">
      <ul>
          <li id="d1" class="list">
              <a href="#">
                  <span class="i">
                      <i class="fa-solid fa-house-chimney"></i>
                  </span>
                  <span class="text">Home</span>
              </a>
          </li>
          <li id="d2" class="list active">
              <a routerLink="/depprog">
                  <span class="i">
                      <i class="fa-solid fa-square-poll-vertical"></i>
                  </span>
                  <span class="text">Departments</span>
              </a>
          </li>
          <li id="d3" class="list">
              <a routerLink="/about">
                  <span class="i">
                      <i class="fa-solid fa-circle-info"></i>
                  </span>
                  <span class="text">About </span>
              </a>
          </li>
          <li id="d4" class="list">
              <a routerLink="/contact">
                  <span class="i">
                      <i class="fa-sharp fa-solid fa-address-book"></i>
                  </span>
                  <span class="text">Contact</span>
              </a>
          </li>
          <li id="d5" class="list">
              <a routerLink="/login">
                  <span class="i">
                      <i class="fa-solid fa-right-from-bracket"></i>
                  </span>
                  <span class="text">Login</span>
              </a>
          </li>
          <div class="indicator"></div>
      </ul>
      <h5 class="logo">VCET</h5>
      <img class="logo-img" [src]=idpp1 alt="" />
  </div>
  <div class="Main">
      <div class="Year1">
          <h1 class="ph1">I-Year CSE</h1>
          <p class="pp">The beautiful thing about learning is that no one can take it away from you.</p>
          <section id="s-team" class="section">
              <div class="b-skills">
                  <div class="arrange1">
                      <div class="row one">
                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <div class="skill-item center-block">
                                  <div class="chart-container">
                                      <div class="chart" data-percent="92" data-bar-color="#2ca2b0">
                                          <span class="percent" data-after="%">92</span>
                                      </div>
                                  </div>
                                  <p class="chartp">IAT 1</p>
                              </div>
                          </div>

                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <div class="skill-item center-block">
                                  <div class="chart-container">
                                      <div class="chart" data-percent="60" data-bar-color="#284d7a">
                                          <span class="percent" data-after="%">60</span>
                                      </div>
                                  </div>
                                  <p class="chartp">IAT 2</p>
                              </div>
                          </div>

                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <div class="skill-item center-block">
                                  <div class="chart-container">
                                      <div class="chart" data-percent="10" data-bar-color="#feb546">
                                          <span class="percent" data-after="%">10</span>
                                      </div>
                                  </div>
                                  <p class="chartp">IAT 3</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>

      </div>

      <div class="Year2">
          <h1 class="ph1">II-Year CSE</h1>
          <p class="pp">Education is the gift that keeps on giving. Encourage your class members to hold that gift
              close to their hearts.</p>
          <section id="s-team" class="section">
              <div class="b-skills">
                  <div class="arrange1">
                      <div class="row second">
                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <div class="skill-item center-block">
                                  <div class="chart-container">
                                      <div class="chart" data-percent="70" data-bar-color="#2ca2b0">
                                          <span class="percent" data-after="%">92</span>
                                      </div>
                                  </div>
                                  <p class="chartp">IAT 1</p>
                              </div>
                          </div>

                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <div class="skill-item center-block">
                                  <div class="chart-container">
                                      <div class="chart" data-percent="50" data-bar-color="#07085b">
                                          <span class="percent" data-after="%">92</span>
                                      </div>
                                  </div>
                                  <p class="chartp">IAT 2</p>
                              </div>
                          </div>

                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <div class="skill-item center-block">
                                  <div class="chart-container">
                                      <div class="chart" data-percent="82" data-bar-color="#feb546">
                                          <span class="percent" data-after="%">92</span>
                                      </div>
                                  </div>
                                  <p class="chartp">IAT 3</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>

      <div class="Year3">
          <h1 class="ph1">III-Year CSE</h1>
          <p class="pp">Don’t let what you cannot do interfere with what you can do.</p>
          <section id="s-team" class="section">
              <div class="b-skills">
                  <div class="arrange1">
                      <div class="row one">
                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <div class="skill-item center-block">
                                  <div class="chart-container">
                                      <div class="chart" data-percent="96" data-bar-color="#2ca2b0">
                                          <span class="percent" data-after="%">92</span>
                                      </div>
                                  </div>
                                  <p class="chartp">IAT 1</p>
                              </div>
                          </div>

                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <div class="skill-item center-block">
                                  <div class="chart-container">
                                      <div class="chart" data-percent="80" data-bar-color="#284d7a">
                                          <span class="percent" data-after="%">92</span>
                                      </div>
                                  </div>
                                  <p class="chartp">IAT 2</p>
                              </div>
                          </div>

                          <div class="col-xs-12 col-sm-6 col-md-3">
                              <div class="skill-item center-block">
                                  <div class="chart-container">
                                      <div class="chart" data-percent="79" data-bar-color="#feb546">
                                          <span class="percent" data-after="%">92</span>
                                      </div>
                                  </div>
                                  <p class="chartp">IAT 3</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
</div>
<!-- <div class="Year4">
  <h1 class="ph1">IV-YEAR</h1>
  <p class="pp">The way to get started is to quit talking and begin doing.</p>
</div> -->


<div class="footer">
  <h5 class="h5foot">
      Velammal College of Engineering and Technology ©️ 2022 | Designed and
      Developed by CSE Department
  </h5>
  <ul class="wrapper">
      <a href="https://www.facebook.com/vcetmadurai/">
          <li class="icon facebook">
              <span class="tooltip">Facebook</span>
              <span><i class="fab fa-facebook-f"></i></span>
          </li>
      </a>
      <li class="icon twitter">
          <span class="tooltip">Twitter</span>
          <span><i class="fab fa-twitter"></i></span>
      </li>
      <a
          href="https://www.instagram.com/explore/locations/441406522/velammal-college-of-engineering-and-technology/?hl=en">
          <li class="icon instagram">
              <span class="tooltip">Instagram</span>
              <span><i class="fab fa-instagram"></i></span>
          </li>
      </a>
      <a href="https://in.linkedin.com/school/velammal-college-of-engineering-&-technology-madurai/">
          <li class="icon linkedin">
              <span class=" tooltip">LinkedIn</span>
              <span><i class="fab fa-brands fa-linkedin"></i></span>
          </li>
      </a>
      <li class="icon youtube">
          <span class="tooltip">Youtube</span>
          <span><i class="fab fa-youtube"></i></span>
      </li>
  </ul>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="/assets/plugins/jquery.appear.min.js"></script>
<script src="/assets/plugins/jquery.easypiechart.min.js"></script>
