<div class="navigation">
  <ul>
    <li class="list">
      <b></b>
      <b></b>
      <a href="#">
        <span class="icon"><i class="fa-solid fa-house-chimney"></i></span>
        <span class="title">Home</span>
      </a>
    </li>
    <li class="list">
      <a routerLink="/result">
        <b></b>
        <b></b>
        <span class="icon"><i class="fa-solid fa-square-poll-vertical"></i></span>
        <span class="title">Results</span>
      </a>
    </li>
    <li class="list">
      <a routerLink="/sopro">
        <b></b>
        <b></b>
        <span class="icon"><i class="fa-solid fa-list-check"></i></span>
        <span class="title">Progress</span>
      </a>
    </li>
    <li class="list active">
      <a routerLink="/profile">
        <b></b>
        <b></b>
        <span class="icon"><i class="fa-solid fa-user"></i></span>
        <span class="title">Profile</span>
      </a>
    </li>
    <li class="list ">
      <a  routerLink="/login">
        <b></b>
        <b></b>
        <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
        <span class="title">Logout</span>
      </a>
    </li>

  </ul>
</div>

<h1 class="Heading2">Profile</h1>
  <div class="user">
    <i class="profile-img fa-solid fa-user-graduate"></i>
    <table class="details">
      <tr>
        <td><span>Name</span></td>
        <td>James</td>
      </tr>
      <tr>
        <td><span>Roll No</span></td>
        <td>20CSE073</td>
      </tr>
      <tr>
        <td><span>Year</span></td>
        <td>III</td>
      </tr>
      <tr>
        <td><span>Branch</span></td>
        <td>CSE</td>
      </tr>
      <tr>
        <td><span>Reg No</span></td>
        <td>913120104038</td>
      </tr>
    </table>

  </div>

  <div class="personal-info">
    <h2 class="Heading3"><i class="fa-regular fa-address-card"></i> About</h2>
    <table class="details details2">
      <tr>
        <td><span>Full Name</span></td>
        <td>James Andrews</td>
      </tr>
      <tr>
        <td><span>Email-Id</span></td>
        <td>james1234@gmail.com</td>
      </tr>
      <tr>
        <td><span>Phone no</span></td>
        <td>9086572345</td>
      </tr>
      <tr>
        <td><span>Address</span></td>
        <td>200/A,P&T Nagar, Madurai-9 </td>
      </tr>
      <tr>
        <td><span>District</span></td>
        <td>Madurai</td>
      </tr>
      <tr>
        <td><span>State</span></td>
        <td>Tamil Nadu</td>
      </tr>
      <tr>
        <td><span>Country</span></td>
        <td>India</td>
      </tr>
    </table>

  </div>

  <div class="Recent-Projects">
    <h2 class="Heading3"><i class="fa-solid fa-laptop-file"></i> Recent Projects</h2>
    <ol class="oli">
      <li>Department Automation System</li>
      <li>Hospital Information Management System</li>
      <li>Automatic Noise Detection using IoT</li>
    </ol>
  </div>

  <div class="user2">
    <h2 class="Heading3"><i class="fa-solid fa-laptop-code"></i> Skills</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Html</li>
      <li class="list-group-item">CSS</li>
      <li class="list-group-item">Javascript</li>
      <li class="list-group-item">Mongodb</li>
      <li class="list-group-item">Flutter</li>
    </ul>

    <h2 class="Heading3"><i class="fa-solid fa-certificate"></i> Certifications</h2>
    <ul class="certi">
      <li>Introduction to IOT</li>
      <li>Machine Learning</li>
      <li>Mean Stack</li>
      <li>IT Automation with Python</li>  
      <li>UX/UI Design</li>
    </ul>
  </div>




<div class="toggle">
  <i class=" open fa fa-solid fa-bars"></i>
  <i class="close fa-solid fa-xmark"></i>
</div>
