<div class="navigation">
  <ul>
    <li id="d1" class="list">
      <a routerLink="">
        <span class="i">
          <i class="fa-solid fa-house-chimney"></i>
        </span>
        <span class="text">Home</span>
      </a>
    </li>
    <li id="d2" class="list">
      <a routerLink="/depprog">
        <span class="i">
          <i class="fa-solid fa-square-poll-vertical"></i>
        </span>
        <span class="text">Departments</span>
      </a>
    </li>
    <li id="d3" class="list active">
      <a routerLink="/about" class="aboutremove">
        <span class="i">
          <i class="fa-solid fa-circle-info"></i>
        </span>
        <span class="text2">About </span>
      </a>
    </li>
    <li id="d4" class="list">
      <a routerLink="/contact">
        <span class="i">
          <i class="fa-sharp fa-solid fa-address-book"></i>
        </span>
        <span class="text">Contact</span>
      </a>
    </li>
    <li id="d5" class="list">
      <a routerLink="/login">
        <span class="i">
          <i class="fa-solid fa-right-from-bracket"></i>
        </span>
        <span class="text">Login</span>
      </a>
    </li>
    <div class="indicator"></div>
  </ul>
  <h5 class="vcet"class="logo text3">VCET</h5>
  <img class="logo-img" [src]=home1 alt="">
</div>



<div class="about-section">
  <div class="inner-container">
    <h1>About Us</h1>
    <p class="text1">
      The college has a well established infrastructure with 162 experienced
      faculty members of which 40 are Doctorates and 51 are pursuing their
      Ph.D. Research and Development is given much importance in the
      college. Placement is also given due importance in the
      college. Velammalians got placed in leading companies like ZOHO,
      Juspay, CODA Global, Sirius Technologies, Maveric Systems, Amazon,
      WIPRO in the preceding years.
    </p>
  </div>
</div>

<div class="footer">
  <h5 class="foot">Velammal College of Engineering and Technology ©️ 2022 | Designed and Developed by CSE Department</h5>
  <ul class="wrapper">
      <a href="https://www.facebook.com/vcetmadurai/">
          <li class="icon facebook">
              <span class="tooltip">Facebook</span>
              <span><i class="fab fa-facebook-f"></i></span>
          </li>
      </a>
      <li class="icon twitter">
          <span class="tooltip">Twitter</span>
          <span><i class="fab fa-twitter"></i></span>
      </li>
      <a
          href="https://www.instagram.com/explore/locations/441406522/velammal-college-of-engineering-and-technology/?hl=en">
          <li class="icon instagram">
              <span class="tooltip">Instagram</span>
              <span><i class="fab fa-instagram"></i></span>
          </li>
      </a>
      <a href="https://in.linkedin.com/school/velammal-college-of-engineering-&-technology-madurai/">
          <li class="icon linkedin">
              <span class="tooltip">LinkedIn</span>
              <span><i class="fab fa-brands fa-linkedin"></i></span>
          </li>
      </a>
      <li class="icon youtube">
          <span class="tooltip">Youtube</span>
          <span><i class="fab fa-youtube"></i></span>
      </li>
  </ul>
</div>
