<h1 class="Heading1">Algebra and Number Theory</h1>
<br /><br /><br /><br />
    <div class="procard">
      <div class="procard-image">
        <img [src]=pro2 alt="" />
      </div>
      <div class="profile-image">
        <img [src]=pro1 alt="" />
      </div>
      <div class="procard-content">
        <h3 class = texth4>James Andrews</h3><br>
        <h5 class = texth5>
          Roll No: 20CSE073<br>
          Register No: 913120104038<br>
          Department: CSE<br>
          Year of Study: III yr
        </h5>
      </div>
    </div>
    <section id="s-team" class="section">
      <br /><br /><br />

      <div class="b-skills">
        <div class="container">
          <!-- <h2>Our Skills</h2> -->

          <div class="arrange1">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="skill-item center-block">
                  <div class=" chart-container">
                    <div
                      class="chart "
                      data-percent="92"
                      data-bar-color="#2ca2b0"
                    >
                      <span class="percent" data-after="%">92</span>
                    </div>
                  </div>
                  <p>IAT - 1</p>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="skill-item center-block">
                  <div class="chart-container">
                    <div
                      class="chart"
                      data-percent="78"
                      data-bar-color="#feb546"
                    >
                      <span class="percent" data-after="%">78</span>
                    </div>
                  </div>
                  <p>IAT - 2</p>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="skill-item center-block">
                  <div class="chart-container">
                    <div
                      class="chart"
                      data-percent="95"
                      data-bar-color="#284d7a"
                    >
                      <span class="percent" data-after="%">95</span>
                    </div>
                  </div>
                  <p>IAT - 3</p>
                </div>
              </div>
            </div>
          </div>
          <br /><br /><br /><br /><br><br>
          <div class="arrange2">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="skill-item center-block">
                  <div class="chart-container">
                    <div
                      class="chart"
                      data-percent="85"
                      data-bar-color="#f4a641"
                    >
                      <span class="percent" data-after="%">65</span>
                    </div>
                  </div>
                  <p>Unit Test</p>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="skill-item center-block">
                  <div class="chart-container">
                    <div
                      class="chart"
                      data-percent="62"
                      data-bar-color="#07085b"
                    >
                      <span class="percent" data-after="%">65</span>
                    </div>
                  </div>
                  <p>Assignment</p>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="skill-item center-block">
                  <div class="chart-container">
                    <div
                      class="chart"
                      data-percent="51"
                      data-bar-color="#06bfad"
                    >
                      <span class="percent" data-after="%">65</span>
                    </div>
                  </div>
                  <p>Model Exam</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br /><br /><br /><br /><br />

    <br /><br /><br /><br />
    <div class="frame">
      <!-- <h1 class="Heading1">Welcome Student!</h1> -->
      <div class="navigation">
        <ul>
          <li class="list">
            <b></b>
            <b></b>
            <a routerLink="">
              <span class="icon"><i class="fa-solid fa-house-chimney"></i></span>
              <span class="title">Home</span>
            </a>
          </li>
          <li class="list active">
            <a routerLink="/result">
              <b></b>
              <b></b>
              <span class="icon"><i class="fa-solid fa-square-poll-vertical"></i></span>
              <span class="title">Results</span>
            </a>
          </li>
          <li class="list ">
            <a routerLink="/sopro">
              <b></b>
              <b></b>
              <span class="icon"><i class="fa-solid fa-list-check"></i></span>
              <span class="title">Progress</span>
            </a>
          </li>
          <li class="list">
            <a routerLink="/profile">
              <b></b>
              <b></b>
              <span class="icon"><i class="fa-solid fa-user"></i></span>
              <span class="title">Profile</span>
            </a>
          </li>
          <li class="list ">
            <a routerLink="/login">
              <b></b>
              <b></b>
              <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
              <span class="title">Logout</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="toggle">
        <i class=" open fa fa-solid fa-bars"></i>
        <i class="close fa-solid fa-xmark"></i>
      </div>

