<div class="viewport">
  <div class="navigation">
    <ul>
      <li id="d1" class="list">
        <a href="#">
          <span class="i">
            <i class="fa-solid fa-house-chimney"></i>
          </span>
          <span class="text">Home</span>
        </a>
      </li>
      <li id="d2" class="list active">
        <a routerLink="/depprog">
          <span class="i">
            <i class="fa-solid fa-square-poll-vertical"></i>
          </span>
          <span class="text">Departments</span>
        </a>
      </li>
      <li id="d3" class="list">
        <a routerLink="/about">
          <span class="i">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <span class="text">About us</span>
        </a>
      </li>
      <li id="d4" class="list">
        <a routerLink="/contact">
          <span class="i">
            <i class="fa-sharp fa-solid fa-address-book"></i>
          </span>
          <span class="text">Contact</span>
        </a>
      </li>
      <li id="d5" class="list">
        <a routerLink="/login">
          <span class="i">
            <i class="fa-solid fa-right-from-bracket"></i>
          </span>
          <span class="text">Login</span>
        </a>
      </li>
      <div class="indicator"></div>
    </ul>
    <h5 class="logo">VCET</h5>
    <img class="logo-img" [src]=home2 alt="" />
  </div>
</div>

  <h2 class="H11">Department Progress</h2>
  <section class="container">
    <div class="card">
      <div class="card-image">
        <img [src]=ic1 width="220px" height="200px" />
      </div>
      <h2 class="H22">Computer Science and Engineering</h2>
      <div class="actionBtn">
        <a routerLink="/indivdep"><button>See Progress</button></a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <img [src]=ic2 width="220px" height="200px" />
      </div>
      <h2 class="H22">Electronics and Communication Engineering</h2>
      <div class="actionBtn btnbig">
        <a routerLink="/indivdep"><button>See Progress</button></a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <img [src]=ic3 width="220px" height="200px" />
      </div>
      <h2 class="H22 h2c">Civil Engineering </h2>
      <div class="actionBtn">
        <a routerLink="/indivdep"><button>See Progress</button></a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <img [src]=ic4 width="220px" height="200px" />
      </div>
      <h2 class="H22">Electrical and Electronics Engineering</h2>
      <div class="actionBtn btnbig">
        <a routerLink="/indivdep"><button>See Progress</button></a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <img [src]=ic5 width="220px" height="200px" />
      </div>
      <h2 class="H22">Mechanical Engineering</h2>
      <div class="actionBtn">
        <a routerLink="/indivdep"><button>See Progress</button></a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <img [src]=ic6 width="220px" height="200px" />
      </div>
      <h2 class="H22">Information Technology</h2>
      <div class="actionBtn">
        <a routerLink="/indivdep"><button>See Progress</button></a>
      </div>
    </div>
  </section>

<div class="footer">
  <h5>
    Velammal College of Engineering and Technology ©️ 2022 | Designed and
    Developed by CSE Department
  </h5>
  <ul class="wrapper">
    <a href="https://www.facebook.com/vcetmadurai/">
      <li class="icon facebook">
        <span class="tooltip">Facebook</span>
        <span><i class="fab fa-facebook-f"></i></span>
      </li>
    </a>
    <li class="icon twitter">
      <span class="tooltip">Twitter</span>
      <span><i class="fab fa-twitter"></i></span>
    </li>
    <a
      href="https://www.instagram.com/explore/locations/441406522/velammal-college-of-engineering-and-technology/?hl=en">
      <li class="icon instagram">
        <span class="tooltip">Instagram</span>
        <span><i class="fab fa-instagram"></i></span>
      </li>
    </a>
    <a href="https://in.linkedin.com/school/velammal-college-of-engineering-&-technology-madurai/">
      <li class="icon linkedin">
        <span class="tooltip">LinkedIn</span>
        <span><i class="fa-brands fa-linkedin"></i></span>
      </li>
    </a>
    <li class="icon youtube">
      <span class="tooltip">Youtube</span>
      <span><i class="fab fa-youtube"></i></span>
    </li>
  </ul>
</div>

